label:first-child {
  display: flex;
  flex-direction: column;
  width: 250px;
}

label:first-child > input {
  margin-top: 5px;
}

body {
  padding: 20px;
}

fieldset {
  width: 250px;
  margin-top: 20px;
  margin-bottom: 10px;
}

button {
  width: 250px;
}
